#Python
venv/
__pycache__/
*.pyc
.pytest_cache/

#Environments
.env

#Data
data/raw/*.csv
data/processed/*.csv
data_predictions/*.csv

#Artifacts
artifacts/models/*.joblib
artifacts/preprocessors/*.joblib
artifacts/metadata/*.json

#IDE
.DS_Store
Thumbs.db
